<!-- VIEWS/PARTIALS footer.js -->

    <div class='parent' class='footer'>
        <div class='child'>
            <footer>
                <a href="/new" class='links'>Create a new item</a>
                <a href="/show" class='links'>View all items</a>    
            </footer>
        </div>
    </div>
</body>
</html>