<!-- VIEWS/PARTIALS footer.js -->

    <div class='nav' class='footer'>
        <footer>
            <a href="/new" class='links'>Create a new item</a>
            <a href="/show" class='links'>View all items</a>    
        </footer>
    </div>
</body>
</html>