<!-- VIEWS index.js -->

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,400&family=Oleo+Script&display=swap" rel='stylesheet'>
    <title>Dungeons & Dragons App</title>
</head>
<body id='welcome-page'>
    <div id='image'>
        <div>
            <h1 class='image-mask-darken'>Welcome to Wondrous Creations!</h1>

            <p id='front-page'><span class='image-mask-darken' id='front-page-text'>A user-created database of D&D 5th Edition magic items!</span></p>

            <!-- <% if (user) { %>
                <a href = '/logout'>Log Out</a>
            <% } else { %> -->
                
            <!-- <a href = '/auth/google'>Login with Google</a> -->
        </div>
            <!-- <% } %> -->

        <div id='nav' class='footer'>
            <footer>
                <a href="/new" id='front-page-links'>Create a new item!</a>
                <a href="/show" id='front-page-links'>View all items!</a>    
            </footer>
        </div>
    </div> 
</body>
</html>