<!-- VIEWS index.ejs -->
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>Dungeons & Dragons App</title>
</head>
<body>
    <h1>Welcome to Wondrous Creations!</h1>
    <p>A user created data base of D&D 5th edition magic items! You can view all the items without an account, but you must sign-in to create items and comment on anything.</p>
    <% if (user) { %>
        <a href = '/logout'>Log Out</a>
    <% } else { %>
        
    <!-- <a href = '/auth/google'>Login with Google</a> -->

    <% } %>
    <nav>
        <a href="./creations/new">Create a new item!</a>
        <a href="./creations">View all items!</a>    
    </nav>

    <form action="/" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="rarity" name="rarity">
        <input type="text" placeholder="type" name="type">
        <button type="submit">Submit</button>
      </form>
</body>
</html>