/*  CSS style.css  */

h1 {
    font-family: 'Oleo Script', cursive;
    text-align: center;
    font-size: 70px;
    color: red;
}

#welcome-page {
    font-family: 'Cormorant', serif;
    font-size: 22px;
    background-color: rgb(241, 241, 212);
}

body {
    font-family: 'Cormorant', serif;
    font-size: 22px;
    background-color: rgb(241, 241, 212);
}

.paper-background {
    background-image: url(https://cdn.hipwallpaper.com/i/34/46/uJEQ04.jpg);
    background-position: center;
    background-size: stretch;
    justify-content: center;
    align-items: center;
    position: relative;
}

#image {
    background-image: url(/images/DNDWeapons35Ed1.jpg);
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: initial ; 
  }

.image-mask-darken {
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%; 

  }
  
.image-mask-darken:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
}
   

h2 {
    font-family: 'Cormorant', serif;
    text-align: center;
    font-size: 30px;
}

button {
    font-family: 'Cormorant', serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.822);
    text-decoration-color: green;
    border-width: 2px;
}

.buttons {
    padding-inline: 15%;
    margin-right: auto;
    margin-left: 15%;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

.table {
    table-layout: auto;
}

#nav {
    text-indent: 30%;
    margin-top: 15%;
}

.nav {
    text-indent: 35%;
    margin-top: 160px;
    font-size: 16px;
}

.nav-new {
    text-indent: 45%;
    margin-top: 160px;
    font-size: 16px;
}

#front-page {
    text-align: center;
    color: red;
}

#front-page-text {
    background-color: rgba(255, 255, 255, 0.822);
    padding: 2px;
}

#front-page-links {
    text-align: center;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.822);
}

.links {
    text-align: center;
    padding: 2px;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }

 .weapon {
     background-image: url(/public/images/dragon-sword.jpeg);
     background-position: right;
     background-size: 100%;
 }