

h1 {
    font-family: 'Oleo Script', cursive;
    text-align: center;
    font-size: 60px;
}

body {
    font-family: 'Cormorant', serif;
    font-size: 22px;
    background-color: rgb(196, 196, 164);
}

h2 {
    font-family: 'Cormorant', serif;
    text-align: center;
    font-size: 30px;
}

button {
    font-family: 'Cormorant', serif;
    background-color: white;
    text-decoration-color: green;
    size: 30px;
}

.buttons {
    padding-inline: 20%;
    margin-right: auto;
    margin-left: 15%;
}

.other {
    display: inline-flex;
    align-items: stretch;
}

.table {
    table-layout: auto;
}