<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>New Armor Page</title>
</head>
<body>
    <h1>Armor Creation Page</h1>
    <form action="/show" method="POST">
        <label>Select the armor type!</label>
        <select type="text" name="armorType">
            <option class="None" value="" selected disabled hidden> -- -- -- </option>
            <option class="spacer" value="spacer" disabled> -- Light Armor -- </option>
            <option class="Light" value="Padded">Padded</option>
            <option class="Light" value="Leather">Leather</option>
            <option class="Light" value="Studded Leather">Studded Leather</option>
            <option class="spacer" value="spacer" disabled> -- Medium Armor -- </option>
            <option class="Medium" value="Hide">Hide</option>
            <option class="Medium" value="Chain Shirt">Chain Shirt</option>
            <option class="Medium" value="Scale Mail">Scale Mail</option>
            <option class="Medium" value="Breastplate">Breastplate</option>
            <option class="Medium" value="Half Plate">Half Plate</option>
            <option class="spacer" value="spacer" disabled> -- Heavy Armor -- </option>
            <option class="Heavy" value="Ring Mail">Ring Mail</option>
            <option class="Heavy" value="Chain Mail">Chain Mail</option>
            <option class="Heavy" value="Splint">Splint</option>
            <option class="Heavy" value="Plate">Plate</option>
            <option class="Shield" value="spacer" disabled> -- Shield -- </option>
            <option class="Shield" value="Shield">Shield</option>
        </select>

        <!--- <label>Armor Value</label>
        I want this to auto populate when the armor type is selected --->

        <label>Select the rarity of your armor</label>
        <select type="text" name="rarity">
            <option class="None" value="" selected disabled hidden> -- -- -- </option>
            <option class="Rarity" value="Uncommon">Uncommon</option>
            <option class="Rarity" value="Rare">Rare</option>
            <option class="Rarity" value="Very Rare">Very Rare</option>
            <option class="Rarity" value="Legendary">Legendary</option>
        </select>

        <label>Select the augment of the armor!</label>
        <select type="text" name="augment">
            <option class="None" value="" selected disabled hidden> -- -- -- </option>
            <option class="augment" value="">None</option>
            <option class="augment" value="+1">+1</option>
            <option class="augment" value="+2">+2</option>
            <option class="augment" value="+3">+3</option>
        </select>

        <!-- <label>Image</label>
        <input type="file" name="image">Upload an image of your armor</p> -->

        <label>Name: Name your dope ass armor!</label>
        <input type="text" name="name" class="name">

        <label>Physical Description: What does your armor look like?</label>
        <input type="text" name="physDescription">

        <label>Property Description: What does your armor do?</label>
        <input type="text" name="propertyDescription">

        <button type="submit">Create Your Armor!</button>
    </form>
</body>
</html>