<!-- VIEWS/CREATIONS details.js -->

<%- include('../partials/header.ejs') %>

    <h1><strong>><%= creation.name %></strong</h1>
        <table>
            <tr>
                <th></th>
            </tr>
        </table>

<%- include('../partials/header.ejs') %>