<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Creations Details Page</title>
    <link href='/public/css/style.css' rel='stylesheet' type='text/css' />
<body>
    <h1><strong>><%= creation.name %></strong</h1>
        <table>
            <tr>
                <th></th>
            </tr>
        </table>
</html>