<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>New Creations Page</title>
</head>
<body>
    <h1>Create your new item today!</h1>
    <h2>Select what type of item you would like to create below!</h2>
    <button href="./weapon" id="weapon">Weapon</button>
    <button href="./armor" id="armor">Armor</button>
    <button href="./other" id="other">Other</button>
</body>
</html>