<!-- VIEWS/CREATIONS new.js -->

<%- include('../partials/header.ejs') %>

    <h1 class='image-mask-darken'>Create your new item today!</h1>
     <!-- serve the page -->
    <h2>Select what type of item you would like to create below!</h2>

    <div class='buttons'>
        <button class="other" id="glow-on-hover" type="button"><a href="/weapon">Weapon</a></button>
        <button class="other" id="glow-on-hover" type="button"><a href="/armor">Armor</a></button>
        <button class="other" id="glow-on-hover" type="button"><a href="/other">Other</a></button>
    </div>

    <div class='nav-new' class='footer'>
        <footer>
            <a href="/show" class='links'>View all items</a>    
        </footer>
    </div>
</body>
</html>