<!-- VIEWS/CREATIONS new.js -->

<%- include('../partials/header.ejs') %>

    <h1>Create your new item today!</h1>
     <!-- serve the page -->
    <h2>Select what type of item you would like to create below!</h2>

    <div class='buttons'>
        <button class='other'><a href="/weapon">Weapon</a></button>
        <button class='other'><a href="/armor">Armor</a></button>
        <button class='other'><a href="/other">Other</a></button>
    </div>

<%- include('../partials/header.ejs') %>