<!-- VIEWS index.ejs -->
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>Dungeons & Dragons App</title>
</head>
<body>
    <h1>See all the user created items!</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Item Type</th>
            <th>Rarity</th>
        </tr>
        <% creations.forEach(creation => { %>
        <tr>
            <td> <%= creation.name %></td>
            <td> <%= creation.weaponType || creation.armorType || creation.itemType %></td>
            <td> <%= creation.rarity %></td>
            <td><a href="/creations/<%= creation._id %>">View Details</a></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>