
<%- include('../partials/header.ejs') %>

    <h1>Weapon Creation Page</h1>
    <form action="/show" method="POST">
        <label>Select the weapon type!</label>
        <select type="text" name="weaponType">
            <option class="None" value="none" selected disabled hidden> -- -- -- </option>
            <option class="spacer" value="spacer" disabled> -- Simple Melee Weapons -- </option>
            <option class="simple-melee" value="Club">Club</option>
            <option class="simple-melee" value="Dagger">Dagger</option>
            <option class="simple-melee" value="Greatclub">Greatclub</option>
            <option class="simple-melee" value="Handaxe">Handaxe</option>
            <option class="simple-melee" value="Javelin">Javelin</option>
            <option class="simple-melee" value="Light Hammer">Light Hammer</option>
            <option class="simple-melee" value="Mace">Mace</option>
            <option class="simple-melee" value="Quarterstaff">Quarterstaff</option>
            <option class="simple-melee" value="Sickle">Sickle</option>
            <option class="simple-melee" value="Spear">Spear</option>
            <option class="spacer" value="spacer" disabled> -- Simple Ranged Weapons -- </option>
            <option class="simple-ranged" value="Crossbow, light">Crossbow, light</option>
            <option class="simple-ranged" value="Dart">Dart</option>
            <option class="simple-ranged" value="Shortbow">Shortbow</option>
            <option class="simple-ranged" value="Sling">Sling</option>
            <option class="spacer" value="spacer" disabled> -- Martial Melee Weapons -- </option>
            <option class="martial-melee" value="Battleaxe">Battleaxe</option>
            <option class="martial-melee" value="Flail">Flail</option>
            <option class="martial-melee" value="Glaive">Glaive</option>
            <option class="martial-melee" value="Greataxe">Greataxe</option>
            <option class="martial-melee" value="Greatsword">Greatsword</option>
            <option class="martial-melee" value="Halberd">Halberd</option>
            <option class="martial-melee" value="Lance">Lance</option>
            <option class="martial-melee" value="Longsword">Longsword</option>
            <option class="martial-melee" value="Maul">Maul</option>
            <option class="martial-melee" value="Morningstar">Morningstar</option>
            <option class="martial-melee" value="Pike">Pike</option>
            <option class="martial-melee" value="Rapier">Rapier</option>
            <option class="martial-melee" value="Scimitar">Scimitar</option>
            <option class="martial-melee" value="Shortsword">Shortsword</option>
            <option class="martial-melee" value="Trident">Trident</option>
            <option class="martial-melee" value="War Pick">War Pick</option>
            <option class="martial-melee" value="Warhammer">Warhammer</option>
            <option class="martial-melee" value="Whip">Whip</option>
            <option class="spacer" value="spacer" disabled> -- Martial Ranged Weapons -- </option>
            <option class="martial-ranged" value="Blowgun">Blowgun</option>
            <option class="martial-ranged" value="Crossbow, hand">Crossbow, hand</option>
            <option class="martial-ranged" value="Crossbow, heavy">Crossbow, heavy</option>
            <option class="martial-ranged" value="Longbow">Longbow</option>
            <option class="martial-ranged" value="Net">Net</option>
        </select>

        <!--- <label>Weapon damage die</label>
                I want this to auto populate when the weapon type is selected --->
    <br>
        <label>Select the elemental type of your weapon</label>
        <select type="text" name="element">
            <option class="none" value="none" selected disabled hidden> -- -- -- </option>
            <option class="element" value="none">None</option>
            <option class="element" value="Acid">Acid</option>
            <option class="element" value="Cold">Cold</option>
            <option class="element" value="Fire">Fire</option>
            <option class="element" value="Force">Force</option>
            <option class="element" value="Lightning">Lightning</option>
            <option class="element" value="Necrotic">Necrotic</option>
            <option class="element" value="Poison">Poison</option>
            <option class="element" value="Psychic">Psychic</option>
            <option class="element" value="Radiant">Radiant</option>
            <option class="element" value="Thunder">Thunder</option>
        </select>

    <br>
        <label>Select how much elemental damage your weapon does</label>
        <select type="text" name="elementDamage">
            <option class="none" value="none" selected disabled hidden> -- -- -- </option>
            <option class="ele-dam" value="1">1</option>
            <option class="ele-dam" value="2">2</option>
            <option class="ele-dam" value="3">3</option>
            <option class="ele-dam" value="4">4</option>
            <option class="ele-dam" value="5">5</option>
        </select>

    <br>
        <p>d</p>
        <select>
            <option class="none" value="none" selected disabled hidden> -- -- -- </option>
            <option class="ele-die" value="4">4</option>
            <option class="ele-die" value="6">6</option>
            <option class="ele-die" value="8">8</option>
            <option class="ele-die" value="10">10</option>
            <option class="ele-die" value="12">12</option>
        </select>

    <br>
        <label>Select the rarity of your weapon</label>
        <select type="text" name="rarity">
            <option class="None" value="none" selected disabled hidden> -- -- -- </option>
            <option class="Rarity" value="Uncommon">Uncommon</option>
            <option class="Rarity" value="Rare">Rare</option>
            <option class="Rarity" value="Very Rare">Very Rare</option>
            <option class="Rarity" value="Legendary">Legendary</option>
        </select>

    <br>
        <label>Select the augment of the weapon!</label>
        <select type="text" name="augment">
            <option class="None" value="none" selected disabled hidden> -- -- -- </option>
            <option class="augment" value="none">None</option>
            <option class="augment" value="+1">+1</option>
            <option class="augment" value="+2">+2</option>
            <option class="augment" value="+3">+3</option>
        </select>

    <br>
        <label>Image</label>
        <input type="file" name="image">Upload an image of your weapon</p>

    <br>
        <label>Name: Name your dope ass weapon!</label>
        <input type="text" name="name">

    <br>    
        <label>Physical Description: What does your weapon look like?</label>
        <input type="text" name="physDescription">

    <br>
        <label>Property Description: What does your weapon do?</label>
        <input type="text" name="propertyDescription">
    <br>
    <br>
        <button type="submit">Create Your Weapon!</button>
    </form>

<%- include('../partials/header.ejs') %>