<!-- VIEWS/USERS index.js -->

<%- include('../partials/header.ejs') %>

    <h1>User</h1>
    <ul class = 'right'>
        <li><a href = '/'>Home</a></li>
        <!--  new html below  -->
        <li>
            <% if (user) { %>
            <a href = '/logout'>Log Out</a>
            <% } else { %>

        <!-- <a href = '/auth/google'>Login with Google</a> -->
        
            <% } %>
        </li>
    </ul>
    <nav>
        <a href='/creations'>Creations</a>
        <a href='/posts'>Posts</a>
      </nav>

<%- include('../partials/header.ejs') %>