<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Posts</title>
    <link href='/public/css/style.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <h1>Posts</h1>
    <nav>
        <a href='/users'>Users</a>
        <a href='/creations'>Creations</a>
      </nav>
</body>
</html>